<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group2.bottomapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appname"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.group2.bottomapp.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/appname"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.group2.bottomapp.Login"
            android:label="@string/title_Login"
            android:parentActivityName="com.group2.bottomapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.group2.bottomApp.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.group2.bottomapp.RegisterUser"
            android:label="@string/title_Register"
            android:parentActivityName="com.group2.bottomapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.group2.bottomApp.MainActivity" />
        </activity>

        <service
            android:name="com.group2.bottomapp.ShotRaceService"
            android:enabled="true"
            android:label="@string/app_name" />

        <activity
            android:name="com.group2.bottomapp.DrinksCabinett"
            android:label="@string/title_activity_drinks_cabinett" >
        </activity>
    </application>

</manifest>
